<!doctype html>
<html lang="en">
<head>
{{template "header"}}
</head>
<body>






<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
		{{template "nav" }}
    </div>

    <div id="main">
        <div class="header">
            <h1>随时随地记录一切</h1>
			<h2>远离广告，远离骚扰，这里，是只属于你的平台！</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">为什么而存在？</h2>
			<p>
		    目的是专为你而打造的一款省心，简单及娱乐与学习生活为一体的分享平台。
			</p>

            <h2 class="content-subhead">特点</h2>
			<p>
			无广告骚扰，追求极致与简单。永久免费，让你在娱乐的同时，也能不知不觉的学习一些技术。
			</p>

            <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/images/index1.jpg" alt="Peyto Lake">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/images/index2.jpg" alt="Train">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/images/index3.jpg" alt="T-Shirt Store">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/images/index4.jpg" alt="Mountain">
                </div>
            </div>

            <h2 class="content-subhead">目标</h2>
            <p>
            专为记录你生活的酸甜苦辣，希望永久保存下来你的痕迹。</p>
        </div>
    </div>
</div>





<script src="static/pure/ui.js"></script>


</body>
</html>
