<!doctype html>
<html lang="en">
<head>
{{template "header"}}
<link rel="stylesheet" href="/static/css/markdownpad-github.css"/>
</head>
 <body>
 
 <div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

 <div id="menu">
	 {{template "nav"}}
    </div>
	
<div class="main">
 <!-- markdown -->
<article class="markdown-body">
{{.output}}
</article>
 <!-- markdown -->
 </div>

</div>

<script src="/static/pure/ui.js"></script>
</body>
</html>
