<!doctype html>
<html lang="en">
<head>
{{template "header"}}

    <link href="static/css/reset_f2b21a9.css" rel="stylesheet" type="text/css">
    <link href="static/css/news-download_f3848bb.css" rel="stylesheet" type="text/css">
    <link href="static/css/news-topbar_0a3338d.css" rel="stylesheet" type="text/css">
    <link href="static/css/news-channel_c7c5253.css" rel="stylesheet" type="text/css">
    <link href="static/css/news-iflow_6dd50e9.css" rel="stylesheet" type="text/css">
    <link href="static/css/news-bottombar_36443ab.css" rel="stylesheet" type="text/css">
    <link href="static/css/index_2e4ae1e.css" rel="stylesheet" type="text/css">
	<script src="static/js/utils.js"></script>
	<script type="text/javascript" src="/static/js/juicer.js"></script>
</head>
<body>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

 <div id="menu">
    {{template "nav"}}
</div>
	
	<!-- 文章列表 -->
	
	 <a href="javascript:;" onclick="utils.sg()"/>点击</a>
	
	
	<div class="main">
	 <ul class="list clearfix" id="wrapper">

	{{range .lists}}
	  {{template "newslist0" .}}
	{{end}}
		
	


   </ul>

	</div>

</div>
<script src="/static/pure/ui.js"></script>
</body>
</html>

