<!doctype html>
<html lang="en">
<head>
{{template "header"}}

    <link href="static/css/reset_f2b21a9.css" rel="stylesheet" type="text/css">
    <link href="static/css/news-download_f3848bb.css" rel="stylesheet" type="text/css">
    <link href="static/css/news-topbar_0a3338d.css" rel="stylesheet" type="text/css">
    <link href="static/css/news-channel_c7c5253.css" rel="stylesheet" type="text/css">
    <link href="static/css/news-iflow_6dd50e9.css" rel="stylesheet" type="text/css">
    <link href="static/css/news-bottombar_36443ab.css" rel="stylesheet" type="text/css">
    <link href="static/css/index_2e4ae1e.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

 <div id="menu">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="/">首页</a>

            <ul>
                <li><a href="#">品味夜色</a></li>
                <li><a href="#">谈谈人生</a></li>

                <li class="menu-item-divided">
                    <a href="#">私密日记</a>
                </li>

                <li><a href="/blog">每天学习10分钟</a></li>
            </ul>
        </div>
    </div>
	
	<div class="main">
	 <ul class="list clearfix" id="wrapper">

		 <li data-pos="item" grab_time="1475628683530" recoid="16739863173314061198" class="item-tt" data-itemtype="operate" data-channel="100" data-article="6353010205039122964">
	<a href="/view/1">
		<div class="newsimg-tt left"><img class="showImg finish" src="http://image.zzd.sm.cn/17290133693329033317.jpg?id=0&amp;height=150&amp;width=200"></div>
		<div class="text">
			<p class="content_p left">最高法发布案例:离婚转移财产可判净身出户</p>
		<p class="subhead left"></p>
			<p class="date left"><span class="time" data-value="1475628683530" title="1475628683530">1分钟前</span><span class="source_name">北京晨报</span><span class="cmt_tt ">905</span></p>
		</div>
	</a></li>

		
		<li data-pos="item" grab_time="1475545859325" recoid="920689326094066297" class="item-tt" data-itemtype="operate" data-channel="51830095" data-article="11391263073754802877">
    	<a href="/view/2">
		<div class="newsimg-tt"><img class="showImg finish" src="http://image.zzd.sm.cn/13781445497462765790.jpg?id=0&height=200&width=266"></div>
		<div class="text">
			<p class="content_p">123213: 中国借贷成本偏低 导致居民拼命贷款买房</p>
			<p class="subhead"></p>
			<p class="date"><span class="op_mark" style="color: #f24a3e;background: url(http://image.zzd.sm.cn/12013266730753243483.jpg?id=0) left center no-repeat;background-size: 12px;">国内关注</span><span class="time" data-value="1475545859325" title="1475545859325">刚刚</span><span class="source_name">参考消息</span><span class="cmt_tt ">1068</span></p>
		</div>
	</a></li>


	<li data-pos="item" grab_time="1475544659325" recoid="920689326094066297" class="item-tt" data-itemtype="operate" data-channel="51830095" data-article="7000855879443943800">
	<a href="http://m.uczzd.cn/webview/news?app=webapp&amp;aid=7000855879443943800&amp;cid=51830095&amp;zzd_from=smhome&amp;uc_param_str=dndsfrvesvntnwpfgi&amp;recoid=920689326094066297&amp;rd_type=reco&amp;sp_gz=0">
		<p class="content_p">秦皇岛外"打渔船"非法运营:100元1人 上船无票据</p>
		<div class="list-col3-tt clearfix">
			<div><p class="col3-0"><span class="col3-tt"><img src="http://image.zzd.sm.cn/10428128686420472006.jpg?id=0&height=200&width=266" data-width="500" data-height="375" class="finish"></span></p></div>
			<div><p class="col3-1"><span class="col3-tt"><img src="http://image.zzd.sm.cn/11264294969852047335.jpg?id=0&height=200&width=266" data-width="500" data-height="375" class="finish"></span></p></div>
			<div><p class="col3-2"><span class="col3-tt"><img src="http://image.zzd.sm.cn/16294518714207407091.jpg?id=0&height=200&width=266" data-width="500" data-height="375" class="finish"></span></p></div><div class="i-images">多图</div>
		</div>
		<div class="subhead col3"></div>
			<div class="date-col3"><span class="time" data-value="1475544659325" title="1475544659325">21分钟前</span><span class="source_name">新京报</span><span class="cmt_tt ">179</span></div>
	</a></li>


	<li data-pos="item" grab_time="1475628683530" recoid="16739863173314061198" class="item-tt" data-itemtype="operate" data-channel="100" data-article="5259557646590556888">
	<a href="http://m.uczzd.cn/webview/news?app=webapp&amp;aid=5259557646590556888&amp;cid=100&amp;zzd_from=smhome&amp;uc_param_str=dndsfrvesvntnwpfgi&amp;recoid=16739863173314061198&amp;rd_type=reco&amp;sp_gz=0">
		<div class="newsimg-tt left"><img class="showImg finish" src="http://image.zzd.sm.cn/1448721399914415215.jpg?id=0&amp;height=150&amp;width=200"></div>
		<div class="text">
			<p class="content_p left">山东莱芜医生遭患者家属砍死 两部委督办案件侦办</p>
		<p class="subhead left"></p>
			<p class="date left"><span class="op_mark" style="color: #f24a3e;background: url(http://image.zzd.sm.cn/12013266730753243483.jpg?id=0) left center no-repeat;background-size: 12px;">事件追踪</span><span class="time" data-value="1475628683530" title="1475628683530">3分钟前</span><span class="source_name">新京报</span><span class="cmt_tt ">702</span></p>
		</div>
	</a></li>

	<li data-pos="item" grab_time="1475547658000" recoid="3845261328563569772" class="item-tt" data-itemtype="operate" data-channel="100" data-article="16797033637377031735">
	<a href="http://m.uczzd.cn/webview/news?app=webapp&amp;aid=16797033637377031735&amp;cid=100&amp;zzd_from=smhome&amp;uc_param_str=dndsfrvesvntnwpfgi&amp;recoid=3845261328563569772&amp;rd_type=reco&amp;sp_gz=0">
		<div class="text">
			<p class="content_p">微信被骗500元后, 我给骗子再打了1500元</p>
			<p class="subhead"></p>
			<p class="date"><span class="time" data-value="1475547658000" title="1475547658000">10-04 10:20</span><span class="source_name">微果酱</span><span class="cmt_tt ">90</span></p>
		</div>
	</a></li>



   </ul>

	</div>

</div>

	<script src="static/pure/ui.js"></script>
</body>
</html>

