<!doctype html>
<html lang="en">
<head>
{{template "header"}}
<script type="text/javascript" language="javascript" src="/static/tools/layer/layer.js"></script>
</head>
<body style="background-color:#F3F3F3">
<div class="bar-header">
      <div class="logo-bar"></div>
 </div>

<div class="heading">
	<div class="branding"></div>
	<h1>登录</h1>
</div>
<div class="minimal-body">

<div class="minimal-body-form">
<form class="pure-form pure-form-stacked" id="loginForm">
    <fieldset>
 
        <label for="email">邮箱</label>
        <input id="username" class="pure-input-1" name="username" type="email" placeholder="你的邮箱地址">

        <label for="password">密码</label>
        <input id="password" class="pure-input-1" name="passwd" type="password" placeholder="设置密码">

		<label  class="ftips"><a href="#">忘记密码?</a></label>
        <button type="button"  onclick="users._login();" class="pure-button pure-input-1 button-warning">登录</button>
    </fieldset>
</form>
</div>
</div>


<div id="context-switch">
<div class="t-pico">没有账户？</div>
<div class="switch"><a href="/register">创建账户</a></div>
</div>

</body>
</html>
