<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{{template "header"}}
<script type="text/javascript" language="javascript" src="/static/tools/layer/layer.js"></script>
</head>
<body style="background-color:#F3F3F3">
<div class="bar-header">
      <div class="logo-bar"></div>
 </div>

<div class="heading">
	<div class="branding"></div>
	<h1>创建账户</h1>
</div>
<div class="minimal-body">

<div class="minimal-body-form">
<form class="pure-form pure-form-stacked" id="registerForm">
    <fieldset>
 
        <label for="email">邮箱</label>
        <input id="reg-email" name="email" class="pure-input-1" type="email" placeholder="你的邮箱地址">
		<label for="password">密码</label>
        <input id="passwd" name="passwd" class="pure-input-1" type="password" placeholder="设置密码">
		<label  class="ftips">点击创建帐户，表示同意<a href="#">服务条款</a>和<a href="#">隐私条款</a></label>
        <button type="button" onclick="users._register();"  class="pure-button pure-input-1 button-warning">创建账户</button>
    </fieldset>
</form>
</div>
</div>


<div id="context-switch">
<div class="t-pico">已经拥有帐户？</div>
<div class="switch"><a href="/login">登录</a></div>
</div>

</body>
</html>
